{% extends 'base.html' %}

{% load static %}

{% block content %}
        
        
        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Food Blog</h2>
                    </div>
                    <div class="col-12">
                        <a href="">Home</a>
                        <a href="">Blog</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->
        
        
        <!-- Blog Start -->
        <div class="blog">
            <div class="container">
                <div class="section-header text-center">
                    <p>Food Blog</p>
                    <h2>Latest From Food Blog</h2>
                </div>
                <div class="row">
                    
                    {%for s in foodblog %}
                    <div class="col-md-6">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="{{s.image.url}}" alt="Blog">
                            </div>
                            <div class="blog-content">
                               <a href="{% url 'single.html' s.pk %}"><h2 class="blog-title">{{s.name}}</h2></a>
                                <div class="blog-meta">
                                    <p><i class="far fa-user"></i>{{s.username}}</p>
                                    <p><i class="far fa-list-alt"></i>{{s.category}}</p>
                                    <p><i class="far fa-calendar-alt"></i>01-Jan-2045</p>
                                    <p><i class="far fa-comments"></i>{{s.message}}</p>
                                </div>
                                <div class="blog-text">
                                    <p>
                                        {{s.content}}
                                    </p>
                                    <a class="btn custom-btn" href="{% url 'single.html' s.pk %}">{{s.btn}}</a>
                                </div>
                            </div>
                        </div>
                        </div>
                    {% endfor %}
                   
                </div>
                <div class="row">
                    <div class="col-12">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul> 
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog End -->


     {% endblock %}
