{% extends 'base.html' %}

{% load static %}

{% block content %}
        
        
        <!-- Page Header Start -->
        <div class="page-header mb-0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Food Menu</h2>
                    </div>
                    <div class="col-12">
                        <a href="">Home</a>
                        <a href="">Menu</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->
        
        
        <!-- Food Start -->
        <div class="food mt-0">
            <div class="container">
                <div class="row align-items-center">
                    {% for s in items  %}
                    <div class="col-md-4">
                        <div class="food-item">
                            <i class="{{s.classname}}"></i>
                            <h2>{{s.header}}</h2>
                            <p>
                               {{s.content}}
                            </p>
                            <a href="">{{s.btn}}</a>
                        </div>
                    </div>
                    {% endfor %}
                   
                </div>
            </div>
        </div>
        <!-- Food End -->
        

        <!-- Menu Start -->
        <div class="menu">
            <div class="container">
                <div class="section-header text-center">
                    <p>Food Menu</p>
                    <h2>Delicious Food Menu</h2>
                </div>
                <div class="menu-tab">
                    <ul class="nav nav-pills justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#burgers">Burgers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#snacks">Snacks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#beverages">Beverages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#pizza">Pizza</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="burgers" class="container tab-pane active">
                            <div class="row">
                                <div class="col-lg-7 col-md-12">
                                    {% for s in foodmenu %}
                                    <div class="menu-item">
                                        <div class="menu-img">
                                            <img src="{{s.image.url}}" alt="Image">
                                        </div>
                                        <div class="menu-text">
                                            <h3><a class='text-dark' href="{% url 'burgers.html' %}">
                                                <span>{{s.header}}</span> <strong>{{s.price}}</strong>
                                            </a></h3>
                                            <p>{{s.content}}</p>
                                        </div>
                                        </div>
                                        {% endfor %}
                                        <h4><a href="{% url 'burgers.html' %}">More Items...</a></h4>
                                </div>
                                <div class="col-lg-5 d-none d-lg-block">
                                    <img src="{% static 'img/menu-burger-img.jpg' %}" alt="Image">
                                </div>
                            </div>
                        </div>
                        <div id="snacks" class="container tab-pane fade">
                            <div class="row">
                                <div class="col-lg-7 col-md-12">
                                    {% for i in snackitems %}
                                    <div class="menu-item">
                                        <div class="menu-img">
                                            <img src="{{i.image.url}}" alt="Image">
                                        </div>
                                        <div class="menu-text">
                                            <h3><a class='text-dark' href="{% url 'snacks.html' %}"><span>{{i.header}}</span> <strong>{{i.price}}</strong></a></h3>
                                            <p>{{i.content}}</p>
                                        </div>
                                        
                                    </div>
                                   {% endfor %}
                                  <h4>  <a href="{% url 'snacks.html' %}">More Items...</a></h4>
                                </div>
                                <div class="col-lg-5 d-none d-lg-block">
                                    <img src="{% static 'img/menu-snack-img.jpg' %}" alt="Image">
                                </div>
                            </div>
                        </div>
                        <div id="beverages" class="container tab-pane fade">
                            <div class="row">
                                <div class="col-lg-7 col-md-12">
                                    {% for i in beveragesitems %}
                                    <div class="menu-item">
                                        <div class="menu-img">
                                            <img src="{{i.image.url}}" alt="Image">
                                        </div>
                                        <div class="menu-text">
                                            <h3><a class='text-dark' href="{% url 'beverages.html' %}"><span>{{i.header}}</span> <strong>{{i.price}}</strong></a></h3>
                                            <p>{{i.content}}</p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                   
                                    <h4><a href="{% url 'beverages.html' %}">More Items...</a></h4>
                                </div>
                                <div class="col-lg-5 d-none d-lg-block">
                                    <img src="{% static 'img/menu-beverage-img.jpg' %}" alt="Image">
                                </div>
                            </div>
                        </div>
                        <div id="pizza" class="container tab-pane fade">
                            <div class="row">
                                <div class="col-lg-7 col-md-12">
                                  
                                    {% for i in pizzaitems %}
                                    <div class="menu-item">
                                        <div class="menu-img">
                                            <img src="{{i.image.url}}" alt="Image">
                                        </div>
                                        <div class="menu-text">
                                         
                                            <h3> <a class='text-dark' href="{% url 'pizza.html' %}"><span>{{i.header}}</span> <strong>{{i.price}}</strong></a></h3>
                                          
                                            <p>{{i.content}}</p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    
                                    <h4><a href="{% url 'pizza.html' %}">More Items...</a></h4>
                                </div>
                                <div class="col-lg-5 d-none d-lg-block">
                                    <img class="w-100" src="https://images.pexels.com/photos/845808/pexels-photo-845808.jpeg?auto=compress&cs=tinysrgb&w=600" alt="%Image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Menu End -->

{% endblock %}
