{% extends 'base.html' %}

{% load static %}

{% block content %}
        
        
        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Thank You!</h2>
                    </div>
                    <div class="col-12">
                      <div class="container">
                        <h2>Reservation Successful</h2>
                        <p class="text-warning"></p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->

        <div class="text-center">
         <p style="font-size: 50px;" class="fw-bold text-dark">Your reservation has been made successfully.</p>
         <a href="{% url 'index.html' %}" class="bg-warning text-white rounded p-2 border-2">Back To Home</a>
        </div>
       
        
        
       

     {% endblock %}